body{
font-family:Arial;
background:#000000;
text-align:center;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    padding: 15px 30px;
    
    color: white;
    border-radius: 15px;

}


input,textarea,select{
display:block;
margin:10px auto;
padding:10px;
width:300px;
}

button{
padding:10px 20px;
background:#092949;
color:white;
border:none;
cursor:pointer;
border-radius: 10px;
align-items: center;
}

.card{
background:white;
margin:10px auto;
padding:15px;
width:300px;
border-radius:10px;
box-shadow:0 0 10px gray;
}

nav{

padding:10px;
border-radius: 15px;
}

nav a{
    font-family: 'Times New Roman', Times, serif;
color:rgb(242, 238, 238);
margin:15px;
text-decoration:none;
font-size:18px;
font-weight:bold;
}

#Details{
    
padding:10px 20px;
background:#000000;
color:rgb(255, 255, 255);
border:none;
cursor:pointer;
}


table{
width:100%;
border-collapse: collapse;
margin-top:20px;
background-color: #58cda6;
}

th{
    background-color: #F4F4F9;
color:rgb(0, 0, 0);
padding:12px;
border-color:1px solid black;
border-bottom:0.5px solid #000000;
}

td{
  color: rgb(0, 0, 0);
padding:10px;
text-align:center;
border-bottom:0.5px solid #000000;
border-left:0.5px solid #000000;
border-right: 0.5px solid black ;

}



/* heading inside header */

.header-bar h1{
margin:0;
font-size:26px;
}


/*Submit.html*/
#achievementForm{
     display: flex;
            flex-direction: column; /* Stacks form rows vertically */
            gap: 5px; /* Adds space between rows */
            width: 350px; /* Optional: set a width for the form container */
            margin: 0 auto; /* Centers the form horizontally on the page */
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            border: 1px solid rgb(255, 255, 255);
            background-color: #04724D;
}

#category{
    display:block;
   margin:10px auto;
    padding:10px;
    width:320px;
}

#upload_file{
    border: 20px solid black;
    margin: 50x;
    align-items: center;
    width: 100px;
    height: 10px;
    align-items: center;
}

.header-bar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #586F7C;
    color: white;
    border-radius: 15px;
}
#login{
    background-color: rgb(77, 42, 42);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#login:hover{
    background-color: rgb(105, 86, 86);
}

nav a:hover{
color:#ffffff;
}

/* container alignment */

.container{
width:85%;
margin:auto;
margin-top:20px;
}

/* STATISTICS CARDS */

.stats{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
margin-top:20px;
}

.stats-card{
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background:#B8DBD9;
padding:10px;
border-radius:10px;
box-shadow:0 3px 10px rgba(96, 75, 75, 0.2);
width:180px;
}
#H2{
    color: rgb(255, 255, 255);
      
}  

h3,p{
    color: rgb(0, 0, 0);
}
#image{
    background-image: url("photo.jpg"); 
background-repeat: no-repeat;            
background-size: cover;                  
background-position: center;            
 background-color: #cccccc;

}
.hero{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 15px;
color:rgb(255, 248, 248);
text-shadow: 10px solid black;
padding:100px;
margin:20px;
margin-left: 0px;
margin-right: 0px;
border-radius:10px;
}

.statusClass{
    color: yellow;
}

.file-link{
background:#0A2540;
color:white;
padding:4px 8px;
border-radius:4px;
text-decoration:none;
}

.approve{
   background-color: green;
   font-family: cursive;
}

.reject{
 background-color: red;
 font-family: cursive;
}